{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": "./src",
        "alias": {
          "utils": "./app/components/utils"
        }
      }
    ]
  ]
}